{% extends 'base.html' %}
{% block title %}
Edit Patient Booking
{% endblock title %}

{% block body %}
<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h4 class="text-center bg-danger text-white">Update Your Slot</h4>

        <br>
        
       
          <form action="/edit/{{posts.pid}}" method="post" class="jumbotron">
        
         
        
            <div class="form-group">
          
              <input type="email" class="form-control" id="email" value={{current_user.email}} name="email" required>
            
            </div>
            <br>
            <div class="form-group">
            
              <input type="text" class="form-control" id="name" name="name" value={{posts.Name}} placeholder="Full Name" required>
            
            </div>
            <br>
           <div class="form-group">
          
                      
                                                
          <select class="form-control" id="gender" name="gender"  required>
                  <option selected>{{posts.Gender}}</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
           
                </select>
           </div>
           <br>
           <div class="form-group">
          
                      
                                                
          <select class="form-control" id="Slot" name="Slot"  required>
                  <option selected>{{posts.slot}}</option>
                  <option value="Morning">Morning</option>
                  <option value="Evening">Evening</option>
                  <option value="Night">Night</option>
            
                </select>
           </div>
           <br>
            <div class="form-group">
              
                <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker" value={{posts.Time}} name="Time">
            
            </div>
            <br>
            <div class="form-group">
              
              <input type="date" class="form-control" value={{posts.Date}} name="Date" placeholder="Date" required>
            
            </div>
            <br>
            <div class="form-group">
              
              <input type="text" class="form-control" value={{posts.Symptoms}} id="Symptoms" name="Symptoms" placeholder="Symptoms" required>
            
            </div>
          
          <div class="form-group">
          
                      
            <br>                                    
          <select class="form-control" id="dept" name="dept"  required>
                  <option selected>{{posts.Department}}</option>
                  <option value="Cardiology">Cardiology</option>
                  <option value="Nephrology">Nephrology</option>
                  <option value="Ophthalmology">Ophthalmology</option>
                </select>
           </div>
           <br>
            <div class="form-group">
          
              <input type="number" class="form-control" id="number" value={{posts.Phone_No}} name="number" placeholder="Phone Number" required>
            
            </div>
         
            
            <button type="submit" class="btn btn-warning btn-sm btn-block">Update</button>
          </form> 


    </div>
    <div class="col-md-4"></div>
</div>
{% endblock body %}
